/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.02.2018, 22:12:52
    Author     : dariasilivonenko
*/



#menu_area {
  
    border: 2px;
    border-style: solid;
    border-radius: 15px;
    margin: 0 55% 10px 0px;
    padding: 10% 0 28% 0;
}

#content {
  
    position: absolute;
    float: left;
    border: 2px;
    border-style: solid;
    border-radius: 15px;
    margin: 0 0px 0 45%;
    padding: 0 50% 56% 0;
}

.choose_area {
  
    border: 2px;
    border-style: solid;
    border-radius: 15px;
    margin: 140px 300px 0 300px;
/*    margin: 170px 300px 0 300px;*/
    padding: 150px 50px 10px 50px;
}

#my_file {
/*    display: none;*/
margin: 0 0 0 30%  ;
}

#imp_btn, #test {
    
    background-color: white;
    margin: 2px 2px 0 50%;
    border: 1px solid black;
    text-align: center;
    padding: 4px 5px 5px 7px;
    border-radius: 4px;
    line-height: 1;
    display: inline-block;
    cursor: pointer;
}

h3 {
    
    text-align: center;
}


.choose_btn, .maps_btn {
    text-align: center;
}